@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


:root {
	--clr-dark-cyan: 185 75% 39%;
	--clr-dark-blue: 229 23% 23%;
	--clr-grayish-blue: 227 10% 46%;
	--clr-dark-gray: 0 0% 59%;
	--clr-black: 1 0% 0%;
	--br-value: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-family: 'Kumbh Sans', sans-serif;
	background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
	background-repeat: no-repeat, no-repeat;
	background-position: top -344px left -115px, bottom -520px right -143px;
	background-size: 750px, 822px;
	background-color: hsl(var(--clr-dark-cyan));
}

h1 {
	font-size: 18px;
	color: hsl(var(--clr-dark-blue));
}

.container {
	min-height: 100vh;
	display: grid;
	place-items: center;
	margin: 0 1.3rem;
}

.card {
	position: relative;
	text-align: center;
	background: white;
	border-radius: var(--br-value);
	box-shadow: 0 1rem 3rem hsl(var(--clr-black)/.2);
}

.card-image {
	width: 100%;
	height: auto;
	border-radius: var(--br-value) var(--br-value) 0 0;
}

.profile-image {
	width: 35%;
	height: auto;
	position: absolute;
	border: 5px solid white;
	border-radius: 50%;
	top: 21%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.card-main {
	position: relative;
	margin-top: 4.5rem;
}

.profile-name {
	margin-bottom: 0.4rem;
}

.profile-name span {
	font-weight: 400;
	color: hsl(var(--clr-grayish-blue));
}

.location {
	color: hsl(var(--clr-grayish-blue));
}

.profile-info {
	display: flex;
	justify-content: space-around;
	margin-top: 1.6rem;
	padding: 1.4rem;
	border-top: 1px solid hsl(var(--clr-grayish-blue) / .2);
}

.profile-info h1 {
	text-transform: uppercase;
	margin-bottom: 0.2rem;
}

.profile-info p {
	color: hsl(var(--clr-grayish-blue));
	font-size: 12px;
	letter-spacing: 1px;
}


/*Media Queries*/

@media screen and (max-width: 1260px) {
	body {
		background-size: 716px, 777px;
	}
}

@media screen and (max-width: 1200px) {
	body {
		background-size: 648px, 738px;
	}
}

@media screen and (max-width: 1024px) {
	body {
		background-size: 648px, 738px;
	}
}

@media screen and (max-width: 960px) {
	body {
		background-position: top -314px left -215px, bottom -513px right -193px;
		background-size: 635px, 705px;
	}
}

@media screen and (max-width: 850px) {
	body {
		background-position: top -314px left -215px, bottom -513px right -193px;
		background-size: 573px, 671px;
	}
}

@media screen and (max-width: 650px) {
	body {
		background-position: top -316px left -310px, bottom -480px right -322px;
		background-size: 573px, 671px;
	}
}

@media screen and (max-width: 425px) {
	body {
		background-position: top -338px left -377px, bottom -422px right -465px;
		background-size: 573px, 671px;
	}


}


.attribution { 
	font-size: 11px; 
	text-align: center; 
	background: white;
	padding: 0.8rem 0;
}
    .attribution a { color: hsl(var(--clr-dark-blue)); }
